/*null style*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a:link,
a:visited {
    text-decoration: none;
}
a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
}
/*--------------------*/

.header {
    background-color: #232323;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.logo img {
    max-width: 100%;
}
.logo {
    max-width: 800px;
    margin: 0 auto;
}
h1 {
    text-align: center;
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 15px;
}
h2 {
    font-size: 28px;
    font-weight: normal;
    margin-bottom: 15px;
}

.main {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 2px;
    padding: 15px 15px;
    color: #cccccc;
    background-color: #121212;
}
.accent {
    color: #f96600;
}
.main__link {
}
.galery {
    padding: 50px 0;
    display: flex;
    font-display: row;
    justify-content: space-around;
}

.galery__item {
    border: 2px solid #f96600;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.footer {
    height: 200px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    text-align: center;
    padding-top: 120px;
    color: #cccccc;
    background-color: #232323;
}
@media (max-width: 424px) {
    .galery {
        flex-direction: column;
    }
}
